<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>UIRequiredDeviceCapabilities</key>
		<dict></dict>
		<key>artistName</key>
		<string>Toni Mahilainen</string>
		<key>bundleDisplayName</key>
		<string>Is It My Turn</string>
		<key>bundleShortVersionString</key>
		<string>1.0</string>
		<key>bundleVersion</key>
		<string>1.0</string>
		<key>copyright</key>
		<string>© 2020 Toni Mahilainen</string>
		<key>drmVersionNumber</key>
		<integer>0</integer>
		<key>fileExtension</key>
		<string>.app</string>
		<key>gameCenterEnabled</key>
		<false/>
		<key>gameCenterEverEnabled</key>
		<false/>
		<key>genre</key>
		<string>Utilities</string>
		<key>genreId</key>
		<integer>6002</integer>
		<key>itemName</key>
		<string>Is It My Turn</string>
		<key>kind</key>
		<string>software</string>
		<key>playlistArtistName</key>
		<string>Toni Mahilainen</string>
		<key>playlistName</key>
		<string>Is It My Turn</string>
		<key>releaseDate</key>
		<string>2020-07-22T12:00:00</string>
		<key>s</key>
		<integer>143441</integer>
		<key>softwareIconNeedsShine</key>
		<false/>
		<key>softwareSupportedDeviceIds</key>
		<array>
			<integer>9</integer>
		</array>
		<key>softwareVersionBundleId</key>
		<string>com.companyname.IsItMyTurn</string>
		<key>versionRestrictions</key>
		<integer>16843008</integer>
	</dict>
</plist>